.amplop-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 4vmin 0;
    background-color: $green-wed-2;    
    .title {
        font-family: 'Pacifico', cursive;
        color: white;
        font-weight: 400;
        font-size: 7vmin;
        margin: 0;
        margin-bottom: 3vmin;
    }
    .deskripsi {
        max-width: 66vmin;
        font-size: 2.4vmin;
        text-align: justify;
        color: white;
        margin-bottom: 1.5vmin;
    }
    .option {
        background-color: white;
        width: 63vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4vmin 0;
        border-radius: 2vmin;
        &-online {
            display: flex;            
            .btn {
                padding: 1vmin 4vmin;
                background-color: $green-wed;   
                &:last-child {
                    margin-left: 2vmin;
                }   
                font-size: 2.4vmin;
                color: white;
                font-weight: bold;
                border-radius: 100px;
                border-top-right-radius: 0;
                cursor: pointer;             
                &:hover {
                    background-color: $green-wed-2;
                }
                &:active {
                    background-color: $green-wed;
                }
            }
        }
        &-barcode {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 25vmin;
                margin: 3vmin;
            }
            p {
                margin: 0;
                font-size: 2.2vmin;
                font-weight: bold;
                text-align: center;
            }
            .transfer {
                width: 29vmin;
                margin: 9.5vmin;
            }
            .no-rek {
                font-size: 2vmin;
            }
        }
    }
}