.footer-container {
    width: 100%;      
    padding: 4vmin 0;
    p {
        text-align: center;
        color: $gray-wed-1;
        font-size: 2.4vmin;
        span {
            color: $green-wed-2;
        }
        a{
            text-decoration: none;
            color: $green-wed-2;
         }
    }        
}