.header-container {
    background: rgba(0, 0, 0, 0.5)url('../../images/jumbtron.jpg');
    background-size: cover;   
    background-position: center;
    background-blend-mode: darken; 
    height: 100vmin;    
    width: 100%;        
    .info {
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 85%;        
        &-undangan {            
            img {
                width: 14vmin;
            }
            h1 {
                font-family: 'Pacifico', cursive;
                // font-size: 8vmin;
                font-size: 8vmin;
                line-height: 200%;
                margin: 0;
                font-weight: 300;            
            }
            h4 {
                color: #FFC700;
                // font-size: 5vmin;
                font-size: 5vmin;
                margin: 0;
                line-height: 200%;
                font-weight: 400;
            }
        }
        &-tamu {  
            margin-top: 3%;  
            margin-bottom: 3vmin; 
            width: 100%;                      
            p {
                margin: 0;
                &:first-child {
                    font-family: 'Pacifico', cursive;
                    // font-size: 3vmin;
                    font-size: 3vmin;
                }
                &:nth-child(2) {
                    // font-size: 4.2vmin;
                    font-size: 4.2vmin;
                    margin: 1vmin 0 2.5vmin;                              
                }
            } 
            div { 
                width: 60vmin;
                height: .25vw;
                margin: 0 auto;
                background: white;
            }
        }
        .btn-more {
            img {
                width: 4vmin;
                margin-bottom: 4vmin;
                animation: move_down 1.5s ease-in-out infinite ;
                &:hover {
                    animation-play-state: paused;
                }
            }
            p {
                font-size: 2vmin;
            }            
        }
        @keyframes move_down {
            0% {        
                opacity: 1;
            }
            
        
            100% {
                -webkit-transform: translate(0, 3vmin);
                transform: translate(0, 3vmin);
                opacity: 1;
            }
        }
    }
}