.penutup-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 6vmin 0;
    background-color: $grey-wed;    
    color: $gray-wed;
    .title {
        font-family: 'Pacifico', cursive;
        color: $green-wed;
        font-weight: 400;
        font-size: 7vmin;
        line-height: 8vmin;
        margin: 0;
        margin-bottom: 3vmin;
    }
    .deskripsi {
        width: 100vmin;
        max-width: 90%;
        text-align: center;
        margin-bottom: 3vmin;
        font-size: 2.4vmin;
    }
    .salam {
        width: 90vmin;
        text-align: center;     
        font-size: 2.4vmin;   
    }
}